<%    layout("/_layouts/boilerpalte_canteens.ejs") %>

<script src="https://cdn.tailwindcss.com"></script>
<style>
    *{
        font-family: serif;
    }
</style>

<main class=" w-full py-24 md:grid md:grid-cols-2  mx-auto  font-extralight">
    <div class=" w-full h-fit mx-4 sticky bg-white top-24 md:top-46 p-3 border border-grey-300 rounded-md shadow-md">
    <img class="m-auto mt-1 h-80 " src="<%= items.foodImage %>" alt="">
    <p><b class="font-bold ">Price:<%= items.price %></b><% %></p>
    <p><b class="font-bold">Description:</b><%= items.description %></p>
    </div>

    
    <div class="md:w-3/4 w-[90%] mx-auto md:mt-0 mt-4 ">
        <div id="idHead" >
            <div class=" flex justify-between items-baseline">
                <h1 class="text-4xl">Reviews</h1>
                <ul class="flex space-x-4 underline">
                    <li class="active:text-gray-400"><button id="comment" class="bg-gray-200 p-1 rounded-md" id="comment">+comment</button></li>
                    <li class="active:text-gray-400"><a href="">login to coment</a></li>
                </ul>
            </div>
            <form class="mb-2 hidden" method="POST" action="/canteens/<%= items.canteen.toLocaleLowerCase() %>/<%= items.type %>/<%= items._id %>">
                <ul>
                    <li>
                        <label for="rating">rate the food:</label>
                        <input type="range" id="rating" name="rating">
                    </li>
                    <li>
                        <label for="comment">Comment</label><br>
                        <textarea name="comment" id="comment" class="w-full mb-2 border border-gray-200 h-16 p-2"></textarea>
                    </li>
                </ul>
                <button class="bg-gray-200 font-semibold p-2 rounded-md ">submit</button>
                </form>
        </div>
        <ul class=" space-y-4 grid grid-cols-1">
            <% for(let review of reviewArray){ %>
            <li class=" border border-grey-500 text-2xl md:text-xl p-2 shadow-sm rounded-sm">
                <span class="font-extrabold block">@<%= review.username %></span>
                <span id="rating" class="block"> Rating: <%= review.rating %></span>
                <span> <%= review.comment %> </span>
                <form class="block pb-1 text-gray-700 text-end" action="/canteens/<%= items.canteen.toLocaleLowerCase() %>/<%= items.type %>/<%= items._id %>/<%= review._id %>?_method=DELETE" method="post">
                     <button class="bg-gray-200 font-semibold p-2 rounded-md ">delete</button>
                </form>
            </li>
            <% } %>
        </ul>
    </div>
     
</main>

<script >
    const commentBtn = document.querySelector("#comment");
    function hide(){
        const form =  document.querySelector("form");
        form.classList.toggle("hidden")
    }

    commentBtn.addEventListener("click",hide);
</script>